<nav class="navbar navbar-default navbar-static-top v-center">
  <p class="navbar-text navbar-left">
    <a routerLink="/" routerLinkActive="active"> <i class="fa fa-film" style="margin-right: 10px; margin-left: 30px;"> </i> Filmelândia </a>
  </p>
  <p class="navbar-text navbar-right">
    <a [routerLink]="['/buscar']" routerLinkActive="active" style="margin-left: 30px;"> Buscar filme </a>
  </p>
</nav>


<div class="container" mar>
  <div class="top-spaced"> &nbsp; </div>
  <router-outlet></router-outlet>
</div>