body {
  font-family: "Helvetica Neue", Arial;
}

.navbar-default {
  width: 100%;
  z-index: 5050;
  height: 60px;
  position: fixed;
  box-sizing: border-box;
  border-color: #030913;
  background-color: #030913;
  box-shadow: 0 2px 10px #000;
}

.v-center {
  display: flex;
  align-items: center;
}

.navbar-text {
  color: #f1f1f1;
  font-size: 19px;
}

.top-spaced {
  margin-top: 90px;
}