<div class="row">
  <div class="col-md-12">
    <input type="text" />
  </div>
  <div class="col-md-12">
    <h3> Resultados <i class="fa fa-arrow-right icon-title"></i> </h3>
  </div>
  <div class="card col-md-3 gallery-card" *ngFor="let movie of moviesList">
    <div class="wrapper">
      <img class="banner" src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" />
      <div class="data">
        <div class="content">
          <span class="author">{{movie.author}}</span>
          <p class="text">{{movie.overview}}</p>
          <a [routerLink]="['/detalhes',movie.id]" class="button">Ver detalhes</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js"></script>